<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduinobot">

    <xacro:arg name="use_gazebo" default="false"/>
    
    <!-- Include properties first -->
    <xacro:include filename="$(find arduinobot_description)/urdf/properties.xacro"/>
    
    <!-- Import robot parts -->
    <xacro:include filename="$(find arduinobot_description)/urdf/base_and_base_plate.xacro"/>
    <xacro:include filename="$(find arduinobot_description)/urdf/arms.xacro"/>
    <xacro:include filename="$(find arduinobot_description)/urdf/connectors.xacro"/>
    <xacro:include filename="$(find arduinobot_description)/urdf/grippers.xacro"/>
    
    <!-- Import Gazebo elements if needed -->
    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find arduinobot_description)/urdf/arduinobot_gazebo.xacro"/>
    </xacro:if>

</robot>